[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/graph"]
	path = lib/graph
	url = https://github.com/childsish/graph.git
[submodule "lib/workflow"]
	path = lib/workflow
	url = https://github.com/childsish/workflow.git
